body {
	background: #CCC url(../images/bg.gif) repeat-x;
	font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #6B6B6B; 
	text-align: center;	
	text-shadow: 0 1px #fff;
}

/* headers */
h1, h2, h3, h4, h5 {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold; 		
}
h1 {
	font-size: 190%;	
	font-weight: normal;
	color: #555;
}
h2 {
	font-size: 130%;
	text-transform: uppercase;
	color: #88ac0b;
}
h3 {
	font-size: 100%;
	
}
h4 {
	font: normal 1.9em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #85970C; 
	text-transform: none;
	padding: 10px 0 0px 10px; 			
}
h5 {
	font-size: 160%;	
	font-weight: normal;
	color: #85970C;
}
h1, h2, h3, p {
	padding: 10px;		
	margin: 0;
}


/* images */
img {
	/*background: #FAFAFA;
    border: 1px solid #DCDCDC;
	padding: 5px;*/
}
img.no-border {
	border: none;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 5px 0;
  	padding: 10px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1.1em/1.6em "Courier New", Courier, monospace;
  	/* white-space: pre; */
  	background: url(../images/post.jpg);
	border: 1px solid #E0DBC9;  
}
acronym {
  cursor: help;
  border-bottom: 1px dashed #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 25px;  
    background: url(../images/post.jpg);
	border: 1px solid #E0DBC9;
	font: bold 1.15em/1.25em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #A89A6A;
}
blockquote ul {
}
blockquote ul li {
	list-style-image: url(../images/bullet.gif);
	list-style-position: inherit;
	margin-left: -24px;
}
blockquote ul li ul {
}
blockquote ul li ul li {
	list-style-position: inherit;
	margin-left: -12px;
}


/* form elements */
form {
}
input[type="text"],
input[type="password"] {
	padding:2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	/*width:400px;*/
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
	border:1px solid #c6c6c6;
	background: #f6f6f6;
}
input[type="button"],
input[type="submit"] { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #FFF;
	background: #8EB50C url(../images/button.gif) repeat-x 0 0;
	border: none;
}
input[type="button"]:hover,
input[type="submit"]:hover { 
	border: none;
	background: #8EB50C url(../images/button-hover.gif) repeat-x 0 0;
}
form img {
	border:1px solid #eee;
}
form img:hover {
	border:1px solid #c6c6c6;
}

/* search form */
#header #search-box {
	position: relative;
	top: 20px; right: 40px;
	float: right;
	color: #838181;
	font-size: 10px;	
}

.searchform {
	background-color: transparent;
	border: none;	
	margin: 0 0 0 3px; padding: 5px 0 10px 0;	
	width: 210px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 150px;
	color: #777; 
	height: 16px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	font-size: 11px;
	vertical-align: middle;
}
.searchform input.textbox:hover {
	border: 1px solid #c6c6c6;
	background: #f6f6f6;
}
.searchform input.button { 
	width: 40px;
	height: 24px;
	padding: 3px 5px;
	vertical-align: middle;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap {
	position: relative;
	width: 952px;
	background: #FFF url(../images/wrap.gif) repeat-y center top;
	margin: 40px auto 30px auto;
	text-align: left;	
}
#content {
	margin-left: 20px;
	clear: both;	
	float: left;	
	width: 910px;						
	padding: 25px 0 60px 0; 	
}
#header {
	position: relative;
	width: 952px;
	height: 245px;
	background: #8AB84B url(../images/header.jpg) no-repeat;	
	color: #fff;	
	padding: 0;	
	margin: 0;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 66px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	letter-spacing: -5px;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px #fff;
	/* change the values of top and left to adjust the position of the logo*/
	top: 75px; left: 55px;	
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 15px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	color: #322815;
	letter-spacing: -0.5px;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 148px; left: 150px;		
}


/* top-menu */
 #top-menu {
 	position: absolute;
	margin: 0;
	padding: 30px 15px 8px 15px;
	background: #74A838 url(../images/top-menu.gif) repeat-x;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	color: #FFF;
	text-shadow: 0 1px #333;
	top: 0;	right: 70px
 }
 #top-menu p { 	
	margin: 0; padding: 0;	
 }
 #top-menu a {
 	font-weight: bold;
	color: #fff;
 }

/* Navigation */
#nav {
	clear: both;	
	padding: 0;	margin: 0;
	width: 952px;
	height: 50px;
	background: #988060 url(../images/nav.gif) no-repeat;
}
#nav ul {
	float: left;	
	list-style: none;	
	margin: 5px 0 0 0;
	height: 45px;
	padding: 0 0 0 40px;					
}
#nav ul li {
	float: left;
	margin: 0; padding: 0 0 0 10px;		
}
#nav ul li a {
	float: left;
	margin: 0;
	padding: 0 15px 0 5px;
	color: #fff;
	font: bold 15px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px #333;
}
/*#nav ul li a:hover,*/ 
#nav ul li a:active {
	color: #E7FAA9;	
}
#nav ul li:hover {
	background: transparent url(../images/left-tab.gif) no-repeat;	
}
#nav ul li a:hover {	
	color: #4B3D2C;
	text-shadow: 0 1px #fff;
	background: transparent url(../images/right-tab.gif) no-repeat right top;	
}

/* Main Column */
#main {
	margin: 0 auto;
	width: 680px;
	padding: 0 0 0 5px;
	float: left;
}
#main h2 {
	font: normal 1.9em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #85970C; 
	text-transform: none;
	padding: 10px 0 0px 5px; 			
}
#main h2 a {
	color: #85970C;
	text-decoration: none;	
}
/*#main ul li {
	list-style-image: url(../images/bullet.gif);
}*/

/* Sidebar */	
	
#rightbar {
	float: right;
	width: 210px;
	margin-right:5px ;	
	color: #8F8F8F;	
}	



/* footer */
#footer-wrap {
	clear: both;
	width: 910px;
	font-size: 90%;	
	text-align: left;
	padding: 15px 0;
	background: url(../images/footer-bottom.jpg) no-repeat center bottom;	
}
#footer-wrap a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}
#footer-wrap a:hover {
	color: #000;	
}
#footer-wrap p {
	padding:10px 0;
}
#footer-wrap h3 {
	color: #666666;
	margin: 0;
	padding: 0 10px; 
	text-transform: uppercase;
}

#footer-columns {
	color: #888;
	margin: 0 auto; 
	padding: 0;	
	width: 850px;		
}
#footer-columns ul {
	list-style: none;
	margin: 10px 0 0 0; 
	padding: 0;	
	background: url(../images/footer-dots.jpg) repeat-x left top;
}
#footer-columns li {
	background: url(../images/footer-dots.jpg) repeat-x left bottom;		
}
#footer-columns li a {
	display: block;
	font-weight: normal;
	padding: 4px 0 4px 10px;
	width: 96%;
}
#footer-columns .col3, .col3-center {
	float: left;
	width: 32%;
}
#footer-columns .col3-center { 
	margin: 0 15px; 
}

/* bottom */
/* footer */
#footer {
	clear: both;
	width: 952px;
	margin: 0;
	padding: 30px 0 25px 0;
	background: #CCC url(../images/footer-bottom.gif) no-repeat left top;			
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	font-size: 0.95em;
	color: #777;	
	text-align: center;	
	letter-spacing: .2px;
}
#footer p {
	padding:10px 0;
}
#footer a {
	color:#1E90FF;
	text-decoration:none;
}
#footer a:hover { 
	color: #555; 
	text-decoration: none;
}
#menunavigator { padding: 0.4em; position: relative; background: #fff; }
#menunavigator h3 {color: #333333;}
#menunavigator a {color:#333; text-decoration:none}
#menunavigator a:hover {color:#1E90FF; text-decoration:none}
